node_modules
server/node_modules
client/node_modules
.env
.DS_Store
/db
github_pat_*
server/node_modules
client/node_modules
server/files
client/files
server/KEYS
server/oauth2-credentials.json
server/oauth2-tokens.json
server/.env copy
server/oauth2-credentials-web.json
